body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Ensure it takes up the full viewport */
    overflow-y: scroll;
  }

header {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
} 

  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }

  article {
    flex: 2;
    background-color: #f8f9fa;
    padding: 10px;
    overflow-y: auto
  }

  aside {
    flex: 1;
    background-color: #e9ecef;
    padding: 10px;
    overflow-y: auto
  }

    footer {
    background: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadows */
}

  
